@import "src/scss/constans.scss";

.aboutContainer {
  max-width: toRem($maxWidthContainer);
  margin: 0 auto;
  padding: toRem($containerPadding);
  font-family: $fontFamily;
  color: $blackTextColor;
  display: flex;
  flex-direction: column;
  row-gap: toRem(40);
  margin-top: toRem(40);
  @media (max-width: $mobileSmall) {
    margin-top: toRem(20);
    padding: toRem(10);
  }

  .header {
    h2 {
      font-size: toRem(100);
      color: $whiteColor;
    }
    @media (max-width: $mobileSmall) {
      h2 {
        font-size: toRem(60);
      }
      row-gap: toRem(20);
    }

    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: toRem(60);
    p {
      font-weight: $fontWeight;
      color: $whiteColor;
      line-height: toRem(24);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: toRem(20);

    .contentBox {
      background: $greyBackground;
      padding: toRem(20);
      border-radius: toRem(10);
      box-shadow: 0 toRem(4) toRem(10) rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      row-gap: toRem(20);

      &__about {
        display: flex;
        flex-direction: column;
        row-gap: toRem(10);
      }

      h2 {
        font-size: toRem(24);
        color: $accentHover;
        text-align: center;
      }
      p {
        line-height: toRem(22);
        
      }

      .valuesGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(toRem(250), 1fr));
        gap: toRem(20);

        .valueItem {
          display: flex;
          flex-direction: column;
          row-gap: toRem(10);
          background: $whiteColor;
          padding: toRem(15);
          border-radius: toRem(8);
          box-shadow: 0 toRem(2) toRem(6) rgba(0, 0, 0, 0.05);

          h3 {
            font-size: toRem(20);
            color: $accent;
            text-align: center;
          }

          p {
            font-size: toRem(16);
            color: $greyTextColor;
            line-height: toRem(22);
          }
        }
      }
    }
  }

  @media (max-width: $tablet) {
    .header h1 {
      font-size: toRem(28);
    }
    .header p {
      font-size: toRem(16);
    }
    .contentBox {
      padding: toRem(15);
    }
  }

  @media (max-width: $mobile) {
    .header h1 {
      font-size: toRem(24);
    }
    .header p {
      font-size: toRem(14);
    }
    .content {
      padding: toRem(10);
    }
    .contentBox {
      padding: toRem(10);
    }
  }
  @media (max-width: $mobileSmall) {
    .content {
      padding: toRem(0);
    }
    .contentBox {
      padding: toRem(10);
    }
  }
}

.teamSection {
  display: flex;
  flex-direction: column;
  row-gap: toRem(30);
  color: $whiteColor;
  &__about {
    display: flex;
    flex-direction: column;
    row-gap: toRem(20);
    text-align: center;
    &__title {
      font-size: toRem(40);
    }
    p {
      font-size: toRem(20);
      padding: 0px toRem(140);
      line-height: toRem(24);
    }
    @media(max-width: $mobile) {
      p {
        padding: 0px toRem(40);
        font-size: toRem(14);
        line-height: toRem(18);
      }
    }
  }
  &__team {
    display: flex;
    justify-content: center;
    gap: toRem(20);
    @media(max-width: $mobile) {
      flex-wrap: wrap;
      row-gap: toRem(40);
    }
  }
  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: toRem(20);
    &__info {
      display: flex;
      flex-direction: column;
      text-align: center;
      row-gap: toRem(8);
      h3 {
        color: $accent;
      }
    } 
    &__role {
      font-size: toRem(20);   
    }
    &__description {
      font-size: toRem(14);
      line-height: toRem(16);
      @media(max-width: $mobile) {
        padding: 0 toRem(20);
      }
    }
  }
  &__picture {
    width: toRem(160);
    height: toRem(240);
    border-radius: toRem(10);
  }
}