@import "../../scss/constans.scss";

.logo {
    & img {
        width: toRem(160);
        height: toRem(36);
    }

    & h2 {
        font-size: toRem(18);
        font-weight: 800;
        color: $whiteColor;
    }
    &:hover {
        cursor: pointer;
    }
}