@import "../../../scss/constans.scss";

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: toRem(12);
    background-color: $accent;
    color: $whiteColor;
    padding: toRem(13);
    text-align: center;
    transition: all .2s ease;
    min-width: toRem(240);
    cursor: pointer;
    &:hover {
        background-color: $accentHover;
    }
    &.fitContent {
        min-width: auto;
    }
    &_red{
        display: inline-block;
        font-size: toRem(12);
        margin: toRem(10) auto 0;
        padding: toRem(6) toRem(18);
        text-align: center;
        transition: all .2s ease;
        color: $whiteColor;
        background-color: #d30008;
        &:hover {
            background-color: #ab080d;
        }
    }
    &__icon {
        color: $whiteColor;
        width: toRem(20);
        height: toRem(20);
    }
}

