@import "src/scss/constans.scss";

.legalNotice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: toRem(22);
    row-gap: toRem(16);
    margin-top: toRem(30);
    text-align: center;
    h1 {
        font-size: toRem(48);
    }
    h2 {
        color: $accent;
    }
    a {
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            color: $whiteBackground;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        row-gap: toRem(10);
        margin-top: toRem(20);
        align-items: center;
        color: $whiteBackground;
        font-size: toRem(18);
    }
}