@import "../../../scss/constans.scss";

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    &__plans {
        display: flex;
        flex-direction: column;
    }
    &___inSystem {
        display: flex;
        flex-direction: column;
        row-gap: toRem(40);
        align-items: center;
    }
    &__logout {
        max-width: toRem(100);
    }
    &__info {
        display: flex;
        flex-direction: column;
        row-gap: toRem(30);
        align-items: center;
    }
    &__authorization {
        display: flex;
        column-gap: toRem(30);
    }
    & h1 {
        font-size: toRem(36);
    }
    &__link {
        &:hover {
            color: $accent;
            border-bottom: toRem(1) solid $accent;
        }
    }
}
