@import "src/scss/constans.scss";

@import "src/scss/constans.scss";

.profile__form {
    display: flex;
    flex-direction: column;
    row-gap: toRem(20);
    padding-bottom: toRem(10);
    position: relative;
    z-index: 2;
    justify-content: center;
    height: 100%;
    @media (max-width: $mobileSmall) {
        align-items: center;
    }
}

.profile {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    row-gap: toRem(20);
    height: 100%;
    @media(max-width: $mobile) {
        min-height: toRem(800);
    }
    &__button {
        border-radius: toRem(12);
        max-width: 459;
        max-height: toRem(50);
        width: 100%;
        height: 100%;
        background-color: $greyColor !important;
        & p {
            font-size: toRem(18);
            font-weight: 600;
        }
        &:hover {
            background-color: $greyColorHover !important;
        }
    }
    &__title {
        font-size: toRem(32);
        font-weight: 600;
        display: flex;
        justify-content: center;
        padding: toRem(20) 0;
    }
    &__input {
        min-width: toRem(440);
        max-height: toRem(90);
        display: flex;
        align-items: center;

        & input {
            border-radius: toRem(12);
            min-height: toRem(50);
            width: 100%;
            max-width: toRem(459);

            @media (max-width: $mobileSmall) {
                width: 70%;
                max-width: unset;
            }
        }
    }
    &__footer {
        display: flex;
        column-gap: toRem(4);
        justify-content: center;
        &__text {
            color: $greyTextColor;
        }
        &__registration {
            border-bottom: toRem(1) solid $whiteColor;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &__background {
        position: absolute;
        top: 60%; 
        left: 55%;
        max-width: 100%;
        max-height: 100%;
        height: 60%;
        width: 50%;
        transform: translate(-50%, -50%); 
        overflow: hidden;
        @media(max-width: toRem(1900)) {
            top: 40%;
        }
        @media(max-width: $mobile) {
            width: 100%;
            height: 100%;
            top: 70%; 
        }
        @media(max-width: $mobileSmall) {
            height: 50%;
            top: 50%; 
        }
        &__img {
            max-width: toRem(900);
            width: 100%;
            max-height: toRem(900);
            height: 100%;
            object-fit: contain;
            opacity: 0.5;
            @media (max-width: $mobile) {
                max-width: toRem(600);
                max-height: toRem(600);
            }
    
            @media (max-width: $mobileSmall) {
                min-width: toRem(400);
                max-height: toRem(600);
            }
        }
    }
    
}

.loader {
    padding-top: toRem(100);
    display: flex;
    flex-direction: column;
    row-gap: toRem(60);
    & h3 {
        font-size: toRem(22);
        text-align: center;
        font-weight: bold;
    }
}