@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@supports (font-size: clamp( 1rem , 0.9649122807rem  +  0.1754385965vw , 1.125rem )) {
  .body {
    font-size: clamp( 1rem , 0.9649122807rem  +  0.1754385965vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.9649122807rem  +  0.1754385965vw , 1.125rem )) {
  .body {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 71.25);
  }
}
.lock .body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.main {
  display: flex;
  align-items: center;
  row-gap: 6.25rem;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.main___inSystem {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  align-items: center;
}
.main__logout {
  max-width: 6.25rem;
}
.main__info {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
  align-items: center;
}
.main__authorization {
  display: flex;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}
.main h1 {
  font-size: 2.25rem;
}
.main__link:hover {
  color: #2597AB;
  border-bottom: 0.0625rem solid #2597AB;
}