@import "src/scss/constans.scss";

.trainingsPlan {
    padding: toRem(10);
    border: toRem(1) solid $accent;
    p {
        padding: toRem(5);
    }
}

.excersise {
    padding: toRem(5);
    border: toRem(1) solid $bgColorLite;
    p {
        padding: toRem(2);
    }
}

.loader {
    padding-top: toRem(100);
    display: flex;
    flex-direction: column;
    row-gap: toRem(60);
    & h3 {
        font-size: toRem(22);
        text-align: center;
        font-weight: bold;
    }
}

.no_training {
    text-align: center;
    font-size: toRem(22);
    padding-top: toRem(100);
}